#scoring-board {
    position: relative;
    background: url('img/supply.jpg');
    width: 623px;
    height: 623px;
    float: left;

    &[data-board="3"] {
        background: url('img/supply3.jpg');
    }
    &[data-board="4"] {
        background: url('img/supply4.jpg');
    }

    #round-counter {
        position: absolute;
        top: 58px;
        left: 92px;
        right: 121px;
        height: 42px;
        gap: 29px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        #round-marker {
            width: 42px;
            height: 42px;
            background: rgb(231, 159, 77);
            border-radius: 50%;
            box-shadow: 1px 1px 2px 2px black;
            pointer-events: none;
        }
    }

    #supply {
        position: absolute;
        top: 332px;
        left: 302px;

        &.selectable {
            .tile {
                cursor: pointer;
                pointer-events: all;
            }
        }

        .supply-space {
            display: inline-block;
            position: absolute;
            top: -31px; 
            left: -31px;

            @for $type from 1 through 10 {
            &.space#{$type} {
                transform: rotate(#{($type - 1) * 36deg + 90deg + 18deg}) translate(136px) rotate(90deg);
            }
            }

            border: 3px dashed transparent;
            height: 63px;
            width: 63px;
            pointer-events: none;
        }
    }

    .bonus-info {
        position: absolute;
        left: 16px;
        width: 48px;
        border-radius: 5px;

        &[data-from="pillar"] {
            top: 150px;
            height: 83px;
        }
        &[data-from="statue"] {
            top: 254px;
            height: 111px;
        }
        &[data-from="window"] {
            top: 387px;
            height: 120px;
        }

        &.active {
            outline: 6px solid #c5299b;
        }
    }

    &[data-board="3"], &[data-board="4"] {
        .bonus-info[data-from="pillar"] {
            top: 41px;
            height: 83px;
        }
        .bonus-info[data-from="statue"] {
            top: 144px;
            height: 111px;
        }
        .bonus-info[data-from="window"] {
            top: 277px;
            height: 120px;
        }
        .bonus-info[data-from="fountain"] {
            top: 418px;
            height: 86px;
        }
    }
}