.tile {
    --rotation: 0deg;

    width: 58px;
    height: 58px;
    display: inline-block;
    position: absolute;
    border: 2px outset;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px black;
    pointer-events: none;
    //margin-top: 29px;
    //margin-bottom: 29px;

    //clip-path: polygon(50% 0%, 75% 50%, 50% 100%, 25% 50%);
    transform: rotate(calc(45deg + var(--rotation))) skew(15deg, 15deg);

    &.tile0 {
        background: $tile0-color;
        border-color: $tile0-color;
        z-index: 8;
    }
    &.tile1 {
        background: $tile1-color;
        border-color: $tile1-color;
    }
    &.tile2 {
        background: $tile2-color;
        border-color: $tile2-color;
    }
    &.tile3 {
        background: $tile3-color;
        border-color: $tile3-color;
    }
    &.tile4 {
        background: $tile4-color;
        border-color: $tile4-color;
    }
    &.tile5 {
        background: $tile5-color;
        border-color: $tile5-color;
    }
    &.tile6 {
        background: $tile6-color;
        border-color: $tile6-color;
    }

    &.selected {
        //animation: selected 1s ease-in-out infinite alternate-reverse;
        outline: 6px solid gold;
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        transform: skew(-15deg, -15deg) rotate(-45deg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &.tile0::before {
        background-image: url('img/first-player.svg');
        background-size: 100%;
    }
    &.tile2::before {
        background-image: url('img/green.svg');
        background-size: 70%;
    }
    &.tile3::before {
        background-image: url('img/orange.svg');
        background-size: 90%;
    }
    &.tile5::before {
        background-image: url('img/blue.svg');
        background-size: 90%;
    }

    overflow: hidden;
    // shimmer animation
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.15;
        background: linear-gradient(110deg, transparent 15%, #FFFFFF 50%, transparent 85%);
        animation: shimmer 3s ease-in-out infinite;
        content: '';
    }

    @keyframes shimmer {
        0% {
            transform: translateX(-200%);
        }
        100% {
            transform: translateX(200%);
        }
    }
}

.cb {
    .tile.tile1::before {
        background-image: url('img/fuschia.svg');
        background-size: 80%;
    }
    .tile.tile4::before {
        background-image: url('img/yellow.svg');
        background-size: 70%;
    }
    .tile.tile6::before {
        background-image: url('img/red.svg');
        background-size: 80%;
    }
}

@keyframes selected {
    0% {
        outline: 6px solid white;
    }
    100% {
        outline: 6px solid darkgreen;
    }
}

.disabled-shimmer {
    .tile::after {
        opacity: 0;
        animation: none;
    }
}

#firstPlayerToken {
    width: 32px;
    height: 32px;
    position: relative;
    box-shadow: 1px 1px 1px 1px #00000099;
}

.scoring-tile {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    position: absolute;
    pointer-events: none;
    z-index: 100;
}

.hide-scoring-tile {
    .scoring-star, .scoring-tile {
        display: none;
    }
}