.tile {
    --rotation: 0deg;

    width: 58px;
    height: 58px;
    display: inline-block;
    position: absolute;
    border: 2px outset;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px black;
    pointer-events: none;

    //clip-path: polygon(50% 0%, 75% 50%, 50% 100%, 25% 50%);
    transform: rotate(calc(45deg + var(--rotation))) skew(15deg, 15deg);

    &.tile0 {
        background: url('img/first-player.svg') white;
        border-color: white;
        z-index: 8;
    }
    &.tile1 {
        background: url('img/fuchsia.svg') fuchsia;
        border-color: fuchsia;
    }
    &.tile2 {
        background: url('img/green.svg') lime;
        border-color: lime;
    }
    &.tile3 {
        background: url('img/orange.svg') orange;
        border-color: orange;
    }
    &.tile4 {
        background: url('img/yelloww.svg') yellow;
        border-color: yellow;
    }
    &.tile5 {
        background: url('img/blue.svg') blue;
        border-color: blue;
    }
    &.tile6 {
        background: url('img/red.svg') red;
        border-color: red;
    }

    &.selected {
        //animation: selected 1s ease-in-out infinite alternate-reverse;
        outline: 6px solid gold;
    }

    overflow: hidden;
    // shimmer animation
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.15;
        background: linear-gradient(110deg, transparent 15%, #FFFFFF 50%, transparent 85%);
        animation: shimmer 3s ease-in-out infinite;
        content: '';
    }

    @keyframes shimmer {
        0% {
            transform: translateX(-200%);
        }
        100% {
            transform: translateX(200%);
        }
    }
}

@keyframes selected {
    0% {
        outline: 6px solid white;
    }
    100% {
        outline: 6px solid darkgreen;
    }
}

.disabled-shimmer {
    .tile::after {
        opacity: 0;
        animation: none;
    }
}

#firstPlayerToken {
    width: 32px;
    height: 32px;
    position: relative;
    box-shadow: 1px 1px 1px 1px #00000099;
}

.scoring-tile {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    position: absolute;
    pointer-events: none;
    z-index: 100;
}

.hide-scoring-tile {
    .scoring-tile {
        display: none;
    }
}