$tile0-color: white;
$tile1-color: #c5299b;
$tile2-color: #b7dd79;
$tile3-color: #ff8200;
$tile4-color: #f8e08e;
$tile5-color: #009cde;
$tile6-color: #ef3340;

@import '../node_modules/bga-zoom/bga-zoom';
@import 'factories/factories';
@import 'scoring-board/scoring-board';
@import 'players-tables/players-tables';
@import 'playerboards';
@import 'tile';

html, .mode_3d #game_play_area_background {
    background: url('img/background.jpg') #fbefe2;
    background-repeat: repeat;
}

@font-face {
    font-family: 'Algeria';
    src: url('img/algeria.woff2') format('woff2'),
        url('img/algeria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#page-title {
  .tile {        
      margin: -2px 3px -5px 3px;
      width: 24px;
      height: 24px;
      position: relative;
      box-shadow: 1px 1px 1px 1px #00000099;
  }

  $titleBarColor: #f0f0f0;
  $summaryHeight: 32px;

  #summary {
    position: absolute;
    left: calc(50% - 150px);
    width: 300px;
    bottom: -$summaryHeight;
    height: $summaryHeight;
    background: $titleBarColor;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      height: 0;
      width: 0;
      left: -$summaryHeight*2;
      border-top: $summaryHeight solid $titleBarColor;
      border-left: $summaryHeight*2 solid transparent;
    }

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      height: 0;
      width: 0;
      right: -$summaryHeight*2;
      border-top: $summaryHeight solid $titleBarColor;
      border-right: $summaryHeight*2 solid transparent;
    }

    .wild-zone {
      display: flex;
      align-items: center;
      justify-content: center;

      .wild-container {
        transform: rotate(-90deg);
        display: inline-flex;
        margin: 10px;

        .tile {
          box-shadow: unset;
        }
      }
    }

  }
}

#bga-zoom-wrapper {
  margin-top: 36px;
}

.log {
  .tile {
    margin: 2px;
    position: relative;
    width: 16px;
    height: 16px;
    box-shadow: none;
    vertical-align: middle;
  }
}

#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background: #26b3e1;
  color: white;
}

#zoom-notice {
  position: absolute;
    background: white;
    min-width: 350px;
    right: 80px;
    top: 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 0px #000000cc;

    #hide-zoom-notice {
        font-weight: bold;
        cursor: pointer;
    }

    .arrow-right {
      width: 0; 
      height: 0; 
      border-top: 12px solid transparent; 
      border-bottom: 12px solid transparent;
      border-left: 12px solid white;
      position:absolute;
      right:-12px;
      top: 8px;
    }
}