
#table {
    display: flex;
    justify-content: center;

    overflow-x: auto;
    position: relative;
    transform-origin: center top;
}

.player-table-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 20px;

    .player-hand {
        height: 128px;
        background: #FFFFFFDD;
        padding-top: 29px;
        margin-bottom: -29px;
        margin-left: 15px;
        margin-right: 15px;
        box-shadow: 0 0 5px 5px #FFFFFFDD;
        display: flex;
        justify-content: center;

        .tile {
            position: unset;
            &:not(:first-child) {
                margin-left: var(--hand-overlap);
            }
        }

        &.selectable {
            .tile {
                cursor: pointer;
                pointer-events: all;
            }
        }
    }

    .player-name-box {
        position: absolute;
        font-size: 20px;
        top: 10px;
        left: 300px;
        right: 300px;
        height: 60px;
        background: #f1e8dd;
        border-radius: 10px;
        border: 3px outset var(--player-color);
    }

    .player-name-wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 1px;
        height: 100%;
        text-align: center;
        //overflow: hidden;
        vertical-align: middle;
        //text-overflow: ellipsis;
        display: flex;
        justify-content: center;
        align-items: center;

        &.shift {
            top: 1px;
            left: 1px;
            right: 0px;
        }

        .player-name {
            &.azul {
                text-transform: uppercase;
                font-family: 'Algeria';
            }

            // limit to 2 lines before overflow
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;

            &.with-space {
                line-break: normal;
            }
            &.without-space {
                line-break: anywhere;
            }
    
            &.dark {
                color: #012c3c;

                &.standard {
                    display: none;
                }
            }

            &.color {
                color: var(--player-color);
            }
        }
    }
    
    .player-table {
        background: url('img/playerboard.jpg');
        width: 740px;
        height: 740px;
        position: relative;

        border: 2px solid black;
        border-radius: 8px;
        margin: 5px;
        z-index: 1;
        border-color: var(--player-color);
        box-shadow: 0 0 5px 2px var(--player-color);

        &.variant {            
            background: url('img/playerboard-variant.jpg');
        }

        .corner {
            position: absolute;
            
            &.corner0 {
                top: 59px;
                left: 59px;
                transform: rotate(45deg);
            }
            &.corner1 {
                top: 59px;
                right: 59px;
                transform: rotate(-45deg);
            }
            &.corner2 { 
                bottom: 59px; 
                left: 59px; 
                transform: rotate(-45deg);
            }
            &.corner3 { 
                bottom: 59px;
                right: 59px; 
                transform: rotate(45deg);
            }

            .tile {
                margin-left: -30px;
                margin-top: -31px;
                position: absolute !important;
            }
        }

        .star {
            position: absolute;
            top: 370px; 
            left: 370px;
            
            &.star0 {
              transform: rotate(#{180deg});
            }

            @for $type from 1 through 6 {
              &.star#{$type} {
                transform: rotate(#{($type + 2) * 60deg}) translate(231px);
              }
            }
        }

        .space {
            display: inline-block;
            position: absolute;
            top: -31px; 
            left: -31px;

            @for $type from 1 through 6 {
              &.space#{$type} {
                transform: rotate(#{($type - 1) * 60deg + 90deg}) translate(63px) rotate(90deg);
              }
            }

            height: 63px;
            width: 63px;
            pointer-events: none;

            &.selectable {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border: 3px dashed transparent;
                    animation: selectable-space 1s alternate-reverse infinite ease-in-out;
                    pointer-events: all;
                    cursor: pointer;
                    transform: rotate(45deg) skew(15deg, 15deg);
                }
            }

            &.selected {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border: 3px solid transparent;
                    animation: selectable-space 1s alternate-reverse infinite ease-in-out;
                    transform: rotate(45deg) skew(15deg, 15deg);
                }
            }

            /*.ghost {
                opacity: 0.5;
            }*/
        }

        .tile {
            &.highlight {
                animation: highlight-animation 0.7s alternate 2;

                &.infinite {
                    animation: highlight-animation 2s alternate infinite;
                }
            }
            
            @keyframes highlight-animation {
                100% { 
                    box-shadow: 0 0 30px 15px white;
                }
            }
            
        }
    }
}

@keyframes selectable-space {
    from {
        border-color: rgb(255, 65, 65);
        background: #FFFFFF66;
    }
    to {
        border-color: rgb(90, 0, 0);
        background: #FFFFFF33;
    }
}